.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 50em;
}

.counter{
  text-align: center;
  padding: 5px;
}

.buttons{
  padding: 5px;
}
